<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GitSint</title>
    <script src="/static/js/script.js"></script>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

    <div class="container">

        <h1>Search</h1>
        <input type="text" id="username"><br><br>
        <button onclick="submit()">Scan</button><br><br>

    </div>



    <h id="title-1"></h>
    <ul id="basic-info"></ul>
    
    <h id="title-2"></h>
    <ul id="repo-info"></ul>

    <h id="title-3"></h>
    <ul id="followers"></ul>



</body>
</html>